:root {
    --header-height: 78px;
}

body {
    padding-top: var(--header-height);
}

body > #hero-root {
    margin-top: 0;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1300;
    background-color: #FFFFFF;
}

.header-content {
    position: relative;
    z-index: 1201;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 78px;
    padding: 8px 16px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.header-logo {
    position: relative;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    order: 0;
    
}

.header-logo img {
    display: block;
}

.header-logo .logo-small {
    display: block;
    width: 70px;
    height: 62px;
}

.header-logo .logo-large {
    display: none;
}

.header-menu {
    display: none;
}

.header-menu nav a {
    color: #27509B;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-style: Regular;
    white-space: nowrap;
    transition: color 0.25s ease;
}

.header-menu nav a:hover {
    color: #376BCA;
}

.header-language {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-language a {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-style: Regular;
    color: #27509B;
    transition: color 0.25s ease;
}
.header-language a:hover {
    color: #376BCA;
}

.header-language a.is-active {
    color: #000000;
}

.header-button-register {
    position: relative;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #27509B;
    border-radius: 32px;
    background: #27509B;
    padding: 16px 24px;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 14px;
    line-height: 130%;
    font-weight: 700;
    font-style: Bold;
    transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;
}
.header-button-register:hover {
    background-color: #376BCA;
    border-color: #376BCA;
}

.header-burger-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}

@media (min-width: 500px) {

    :root {
        --header-height: 127px;
    }

    .header-content {
        position: relative;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 127px;
        padding: 8px 16px 18px;
        row-gap: 16px;
        align-items: center;
    }

    .header-language {
        order: 2;
    }

    .header-button-register {
        display: inline-flex;
        order: 3;
    }

    .header-burger-wrapper {
        display: none;
    }

    .header-menu {
        order: 4;
        display: block;
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
        padding: 16px 16px 0;
        border-top: 1px solid #D7F0E2;
        box-sizing: border-box;
    }

    .header-menu nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 770px) {

    .header-content {
        padding: 8px 24px;
    }
    
}

@media (min-width: 1024px) {
    :root {
        --header-height: 86px;
    }

    .header-content {
        padding: 12px 24px;
        align-items: center;
        justify-content: space-between;
        height: 86px;
    }

    .header-menu {
        position: static;
        flex: 0 1 auto;
        width: auto;
        padding: 0;
        padding-top: 0;
        border-top: 0;
        order: 1;
        margin: 0 0;
    }

    .header-menu nav {
        gap: 32px;
    }

    .header-language {
        gap: 12px;
    }

    .header-button-register {
        display: inline-flex;
        padding: 20px 32px;
    }

    .header-button-register {
        font-size: 16px;
        line-height: 19px;
    }

    .header-burger-wrapper {
        display: none;
    }
}

@media (min-width: 1400px) {

    :root {
        --header-height: 107px;
    }

    .header-content {
        padding: 24px 117px;
        height: 107px;
    }

    .header-logo .logo-small {
        display: none;
    }

    .header-logo .logo-large {
        display: block;
    }
}


@media (min-width: 1920px) {

    .header-content {
        padding: 24px 160px;
    }
}
