.request-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 48px 16px;
    gap: 24px;
    background-image:
        linear-gradient(
            264.7deg,
            rgba(45, 119, 77, 0.70) 0%,
            rgba(45, 119, 77, 0.92) 45%,
            rgba(10, 30, 18, 0.94) 100%
        ),
        url('../../assets/request.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply, normal;
    border-radius: 16px;
}

.request-content-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 800px;
}

.request-texts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.request-title {
    font-family: 'Inter';
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.00em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.request-description {
    font-family: 'Inter';
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.00em;
    color: #FFFFFF;
    margin: 0;
}

.highlight {
    font-family: 'Inter';
    font-weight: 600;
    font-style: Italic;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #A8DFFF;
    margin: 0;
}

.request-description br {
    content: "";
    margin-bottom: 16px;
    display: block;
}

.bold {
    font-family: 'Inter';
    font-weight: 600;
    font-style: Bold;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin: 0;
    display: block;
}

.request-step {
    display: block;
    margin: 0;
    padding: 0;
}

.request-button-filled {
    background-color: #FFFFFF;
    color: #003366;
    border: 1px solid #FFFFFF;
    padding: 16px 24px;
    cursor: pointer;
    border-radius: 32px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 1%;
    text-decoration: none;
}

.requests-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 212px;
}

.request-button-outline {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 16px 24px;
    cursor: pointer;
    border-radius: 32px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 1%;
    text-decoration: none;
}

.request-button-outline:hover {
    color: #9FC1FF;
    border-color: #9FC1FF;
}

.request-button-filled:hover {
    color: #27509B;
}

@media (min-width: 500px) {
    .request-title {
        font-size: 32px;
    }

    .request-texts {
        gap: 24px;
    }

    .requests-buttons {
        flex-direction: row;
        gap: 32px;
        max-width: none;
    }
}

@media (min-width: 770px) {
    .request-container {
        gap: 32px;
        padding: 64px 24px;
    }

    .request-content-container {
        gap: 32px;
    }

    .request-texts {
        gap: 32px;
    }

    .request-description,
    .highlight,
    .bold,
    .request-step {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .request-container {
        gap: 32px;
        padding: 64px 24px;
    }

    .request-content-container {
        gap: 32px;
    }

    .request-texts {
        gap: 32px;
    }

    .request-description,
    .highlight,
    .bold,
    .request-step {
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .request-container {
        gap: 32px;
        padding: 64px 48px;
    }
}