
.tabs-head {
    display: flex;
}

.tabs-dates-title,
.tabs-programs-title {
    cursor: pointer;
}

.tabs-dates,
.tabs-programs {
    display: none;
}

.tabs-dates.active,
.tabs-programs.active {
    display: block;
}